<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <!-- scripts start -->
    <script src="./js/jquery.js"></script>
    <!-- scripts end -->

    <!-- hero start -->
    <section class="hero is-fullheight" id="hero">

      <!-- hero body start -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Error <%= status %>:
          </h1>
          <h2 class="subtitle">
            <%= message %>
          </h2>
        </div>
      </div>
      <!-- hero body end -->
    </section>
    <!-- hero end -->
  </body>
</html>